name: Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Début du déploiement
        run: echo "Début du déploiement"

      - name: Afficher le secret
        run: echo "Valeur du secret DEPLOY_TOKEN ${{ secrets.DEPLOY_TOKEN }}"

      - name: Déploiement terminé
        run: echo "Déploiement terminé par ANDRE THOMAS BENGON"